

.math.question {
  font-size:130px;

  color:blue;
  text-shadow:0px 0px 10px #F3BB06;
}

.btn-xl {
  padding: 20px 26px;
  font-size: 44px;
  line-height: 1.33;
  border-radius: 10px;
  margin:
}

#colored-border {
  border-width:10px;
  position:fixed;
  top:0px;
  left:0px;
  bottom:0px;
  right:0px;
  z-index:-1;
}
.red-border {
  border-color:red;
  border-style:solid;
}
.green-border {
  border-color:green;
  border-style:solid;
}
.clicked {
  border-width:3px;
}
