.navbar {
  margin-bottom:0px;
}
.navbar-brand {
  padding:0px;
}
.logo.owl {
  width:56px;
  height:56px;
}

@media screen {
  .text-xl {
    font-size:80px;
  }
  .btn-xl {
    padding: 4px 10px;
    font-size: 34px;
    margin:3px;
  }
}
@media screen and (min-width:767px) {
  .text-xl {
    font-size:110px;
  }
  .btn-xl {
    padding: 20px 26px;
    font-size: 44px;
  }
}
@media screen and (min-width:1023px) {
  .text-xl {
    font-size:130px;
  }
}

.exercise-header {
  position: relative;
  padding: 30px 15px;
  color: #cdbfe3;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  background-color: #6f5499;
  border-width:0px;
  border-bottom-width:10px;
  margin-bottom:10px;
}
.green-border .exercise-header {
  margin-bottom:0px;
  border-color:green;
  border-style:solid;
}

.exercise-header h1 {
  color:white;
}

.exercise-answer {
  margin-top:20px;
}
.green-border .exercise-answer {
  margin-top:10px;
}
.exercise-answer .container {
  position:relative;
}

/* OLD */

.math.question {
  font-size:130px;

  color:blue;
  text-shadow:0px 0px 10px #F3BB06;
}

.btn-xl {
  line-height: 1.33;
  border-radius: 10px;
}

.colored-border {
  border-width:10px;
  position:fixed;
  top:0px;
  left:0px;
  bottom:0px;
  right:0px;
  z-index:-1;
}
.red-border .colored-border{
  border-color:red;
  border-style:solid;
}
.green-border .colored-border {
  border-color:green;
  border-style:solid;
}

.clicked {
  border-width:3px;
}
