@starSize: 150px;

.progressView {
  margin:10%;

}
.starRating {
  position:relative;
  width:@starSize*3 + 30;
  margin: 0 auto;
  .stars {
    position:absolute;
    img {
      width:@starSize;
    }
  }
} 

.page .progress {
  top:10%;
  bottom:10%;
  position:absolute;
}
