@starSize: 150px;

.progressView {
  margin:10%;

}
.starRating {
  position:relative;
  width:@starSize*3 + 30;
  max-width:90%;
  height:@starSize+10;
  margin: 0 auto;
  .stars {
    position:absolute;
    img,.starContainer {
      width:@starSize;
      max-width:30%;
    }
    .starContainer {
      position:relative;
      float:left;
    }
  }
} 

.page .progress {
  top:10%;
  bottom:10%;
  position:absolute;
}

// possible fix for firefox with http://jsfiddle.net/4h3xL/1/
// from https://stackoverflow.com/questions/18938331/transform-origin-for-css-animation-on-svg-working-in-chrome-not-ff
.animated {
  #orangeBeams {
    animation-name: clockwise;
    animation-timing-function:linear;
    animation-duration: 15s;
    /* Things added */
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
  }

  #yellowBeams {
    animation-name: counterclockwise;
    animation-timing-function:linear;
    animation-duration: 30s;
    /* Things added */
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
  }
}
@keyframes clockwise {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes counterclockwise {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.answer-sun {
  position:absolute;
  bottom:-300px;
  height:300px;
  width:300px;
  max-width:40%;
  opacity:0.2;
}


.start-page img {
  width:20px;
  margin-left:10px;
}
.start-page svg {
width:32px;
height:32px;
margin-bottom:-10px;
margin-top:-5px;
margin-left:5px;
}
.start-page .btn {
  width:250px;
  margin-bottom:20px;
}
