<div class='progressView'>
  <div class='starRating'>
    <div class='grey stars'>
      {{#grey}}<img src='img/sun_grey.svg'>{{/grey}}
    </div>
    <div class='colored stars'>
      <div style='display:none;'>
  
        {{#colored}}<img src='img/sun.svg'>{{/colored}}
      </div>
      {{#colored}}<div class='starContainer'>{{{sunSvg}}}</div>
             {{/colored}}
    </div>
  </div>
  <div class='text-center'>
    <a class='btn btn-default text-center' href='#'>Weiter</a>
  </div>
</div>
