<div class='container start-page'>
  <h1>Such Dir eine Aufgabe aus:</h1>
  {{#exercise}}
  <div class='col-sm-6'>
    <a class='btn btn-default btn-lg {{#blocked}}disabled{{/blocked}} text-left' href='{{url}}'>
      <div class='name text-left'><div class='circle'>{{i}}</div>   <span class='grey'>{{name}}</span></div>
      {{#blocked}}
      <div class='lock'>
        <img src='img/lock.svg'>
      </div>
      {{/blocked}}
      <div class='stars'>
        {{#rating.colored}}
        {{{sunSvg}}}
        {{/rating.colored}}
      </div>
    </a>

  </div>
  {{/exercise}}
</div>

